body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Fuente del texto */
}

.header {
    background-image: url('gomez.jpg'); /* Ruta de la imagen de encabezado */
    background-size: cover; /* Ajusta la imagen para cubrir todo el encabezado */
    height: 300px; /* Altura del encabezado */
    color: rgb(128, 37, 37); /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    display: flex; /* Permite el uso de flexbox para centrar verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra verticalmente */
}

h1 {
    margin: 150px; /* Elimina el margen superior e inferior del título */
}

